# Python
__pycache__/
*.pyc

# Environnements
.env

# PKI - NE JAMAIS PUSH
ca/**/private/
ca/**/index.txt
ca/**/index.txt.attr
ca/**/index.txt.old
ca/**/serial
ca/**/serial.old
ca/**/certs/*.pem
ca/**/crl/
ca/**/certs/*.srl

users/

# Logs
*.log
# OpenSSL CRL numbers
ca/**/crlnumber
ca/**/crlnumber.old

